<!-- <div *ngIf="undefined === myTimeline">Loading...</div>
<div *ngIf="undefined !== myTimeline">
  <mat-card>
    <h1>Username: </h1>{{myTimeline.data[0].user.name}}
    <h1>Location: </h1>{{myTimeline.data[0].user.location}}
    <h1>Description: </h1>{{myTimeline.data[0].user.description}}
    <h1>Follower Count: </h1>{{myTimeline.data[0].user.followers_count}}
    <h1>Account Creation Date: </h1>{{myTimeline.data[0].user.created_at}}
    <h1>Favourites Count: </h1>{{myTimeline.data[0].user.favourites_count}}
    <h1>Tweet count: </h1>{{myTimeline.data[0].user.statuses_count}}

  </mat-card>
</div>
<div *ngIf="undefined !== totalTweets">
  <h1>Jeff's total tweets</h1> {{totalTweets[0].value}}
  <h1>Alex's total tweets</h1> {{totalTweets[1].value}}
  <h1>Brad's total tweets</h1> {{totalTweets[2].value}}

</div> -->
<div *ngIf="undefined !== totalTweets">
  <mat-tab-group>
    <mat-tab label="Tweets">
      <div *ngIf="undefined !== totalTweets">
        <ngx-charts-bar-vertical *ngIf="selected === 'bar-vertical'" [view]="view" [scheme]="colorScheme"
          [results]="totalTweets" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
        <ngx-charts-pie-chart *ngIf="selected === 'pie'" [view]="view" [scheme]="colorScheme" [results]="totalTweets"
          [gradient]="gradient" [legend]="showLegend" (select)="onSelect($event)">
        </ngx-charts-pie-chart>
        <ngx-charts-advanced-pie-chart *ngIf="selected === 'pie-advanced'" [view]="view" [scheme]="colorScheme"
          [results]="totalTweets" [gradient]="gradient" (select)="onSelect($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
    </mat-tab>
    <mat-tab label="Favourites">
      <div *ngIf="undefined !== totalFavourites">
        <ngx-charts-bar-vertical *ngIf="selected === 'bar-vertical'" [view]="view" [scheme]="colorScheme"
          [results]="totalFavourites" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
          [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
        <ngx-charts-pie-chart *ngIf="selected === 'pie'" [view]="view" [scheme]="colorScheme"
          [results]="totalFavourites" [gradient]="gradient" [legend]="showLegend" (select)="onSelect($event)">
        </ngx-charts-pie-chart>
        <ngx-charts-advanced-pie-chart *ngIf="selected === 'pie-advanced'" [view]="view" [scheme]="colorScheme"
          [results]="totalFavourites" [gradient]="gradient" (select)="onSelect($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
    </mat-tab>
    <mat-tab label="Followers">
      <div *ngIf="undefined !== totalFollowers">
        <ngx-charts-bar-vertical *ngIf="selected === 'bar-vertical'" [view]="view" [scheme]="colorScheme"
          [results]="totalFollowers" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
        <ngx-charts-pie-chart *ngIf="selected === 'pie'" [view]="view" [scheme]="colorScheme" [results]="totalFollowers"
          [gradient]="gradient" [legend]="showLegend" (select)="onSelect($event)">
        </ngx-charts-pie-chart>
        <ngx-charts-advanced-pie-chart *ngIf="selected === 'pie-advanced'" [view]="view" [scheme]="colorScheme"
          [results]="totalFollowers" [gradient]="gradient" (select)="onSelect($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
    </mat-tab>
    <mat-tab label="Friends">
      <div *ngIf="undefined !== totalFriends">
        <ngx-charts-bar-vertical *ngIf="selected === 'bar-vertical'" [view]="view" [scheme]="colorScheme"
          [results]="totalFriends" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
        <ngx-charts-pie-chart *ngIf="selected === 'pie'" [view]="view" [scheme]="colorScheme" [results]="totalFriends"
          [gradient]="gradient" [legend]="showLegend" (select)="onSelect($event)">
        </ngx-charts-pie-chart>
        <ngx-charts-advanced-pie-chart *ngIf="selected === 'pie-advanced'" [view]="view" [scheme]="colorScheme"
          [results]="totalFriends" [gradient]="gradient" (select)="onSelect($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-form-field>
    <mat-select placeholder="Chart Type" [(value)]="selected">
      <mat-option *ngFor="let chart of charts" [value]="chart.value">
        {{chart.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>