



<div *ngIf="tweets != undefined" [@fadeIn]="fadeIn">
    <mat-grid-list cols="3" rowHeight="300px" class="my-grid-class">
        <mat-grid-tile
            *ngFor="let tweet of tweets"
            [colspan]="1"
            [rowspan]="1"
            [style.background]="lightblue">
            <mat-card class="my-card-class"  [@fadeIn]="fadeIn">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"><img src={{tweet?.user?.profile_image_url}}></div>
                  <mat-card-title>{{tweet.user.name}}</mat-card-title>
                  <mat-card-subtitle>
                    {{tweet.user.location}}
                  </mat-card-subtitle>
                </mat-card-header>
            <!--     <img mat-card-image class="my-img-class" src={{tweet?.extended_entities?.media[0]?.media_url}}>
                 <img mat-card-image class="my-img-class" src={{tweet?.extended_tweet?.entities?.media[0]?.media_url}}>
                <img mat-card-image class="my-img-class" src={{tweet?.quoted_status?.extended_entities?.media[0]?.media_url}}>
                <img mat-card-image class="my-img-class" src={{tweet?.retweeted_status?.extended_tweet?.extended_entities?.media[0]?.media_url}}>
            -->
            <!-- <div *ngIf="tweet?.extended_entities?.media[0]?.media_url != undefined">
              <img mat-card-image class="my-img-class" src={{tweet?.extended_entities?.media[0]?.media_url}}>
            </div> -->
            <div *ngIf="tweet?.retweeted_status?.extended_entities?.media[0]?.media_url != undefined">
              <img mat-card-image class="my-img-class" src={{tweet.retweeted_status.extended_entities.media[0].media_url}}>
            </div>
            
                <mat-card-content class = "my-card-content">
            <!--       <span [innerHTML]={{tweet.text }}
             -->      <p>{{tweet?.text}}</p>
          <!--        <p *ngIf="tweet.extended_tweet.full_text != undefined; else normalText">{{tweet?.extended_tweet.full_text}} </p>
           -->       <!-- <ng-template #normalText>{{tweet?.text}}</ng-template> -->    
            <!--       <p>{{tweet?.text}} </p>
             -->      <!-- <p>{{tweet?.retweeted_status?.text}}</p> -->
                  <p *ngIf="tweet.retweeted_status != undefined">Favourites: {{tweet?.retweeted_status?.favorite_count}} Replies:
                    {{tweet?.retweeted_status?.reply_count}} Retweets: {{tweet?.retweeted_status?.retweet_count}}</p>
                    <p *ngIf="tweet.quoted_status != undefined"> {{tweet.quoted_status.text}}</p>
                </mat-card-content>
                <mat-card-actions class = "my-card-content">
                  <p>Favourites: {{tweet.favorite_count}} Replies: {{tweet.reply_count}} Retweets: {{tweet.retweet_count}}</p>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
    <!-- <div *ngIf="{{tweet.extended_entities.media[0].media_url}} != undefined">/div> -->
  </div>