.my-card-class {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.my-img-class {
  padding: 20px;
  max-width: 300px;
  max-height: 200px;
}
.my-action-class {
  margin-left: 20px;
}
.my-content-class {
  margin-left: 20px;
}
.my-img-class {
  max-width: 100px;
  max-height: 80px;
}
.my-div {
  text-align: center;
}
