@media only screen and (max-width: 600px) {
  mat-sidenav {
    width: 35%;
  }
}
@media only screen and (min-width: 601px) {
  mat-sidenav {
    width: 15%;
  }
}

.example-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

mat-sidenav-container {
  height: 100%;
}