<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Duders Twitters
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/twitter_timeline/jeff">Jeff</a>
        <a mat-list-item routerLink='/twitter_timeline/alex'>Alex</a>
        <a mat-list-item routerLink='/twitter_timeline/ben'>Ben</a>
        <a mat-list-item routerLink='/twitter_timeline/abby'>Abby</a>
        <a mat-list-item routerLink='/twitter_timeline/jason'>Jason</a>
        <a mat-list-item routerLink='/twitter_timeline/jan'>Jan</a>
      </mat-expansion-panel>
      <a mat-list-item routerLink="/stats">Stats</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>