<!-- <mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{myTimeline.data[0].user.name}}</mat-card-title>
    <mat-card-subtitle>
      <h1>{{myTimeline.data[0].user.location}}</h1>
    </mat-card-subtitle>
  </mat-card-header>
  <img [src]="url" alt="Place image title">
  <mat-card-content>{{myTimeline.data[0].user.description}}
  </mat-card-content>
</mat-card>
 -->
 <!-- <mat-form-field>
  <mat-select placeholder="Tweet Limit" [(value)]="selected">
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
<div *ngIf="undefined === name">Loading...</div>
<div *ngIf="'jeff' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/jeffgerstmann'}" [opts]="'{tweetLimit: 5}'">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'alex' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/alex_navarro'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'ben' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/PackBenPack'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'abby' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/ybbaaabby'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'jason' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/unastrike'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'jan' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/_janjerome'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'vinny' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/VinnyCaravella'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'dan' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/DanRyckert'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'jeff-bakalar' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/jeffbakalar'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'rorie' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/frailgesture'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'austin' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/austin_walker'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'danny' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/dannyodwyer'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'drew' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/drewscanlon'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'mary' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/MerryKish'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>
<div *ngIf="'patrick' === name">
  <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/patrickklepek'}" [opts]="{tweetLimit: 5}">
  </ngx-twitter-timeline>
</div>